---
layout: home
---
<script>
  window.onload = setMenu('blogposts-menu');
</script>

<!-- Blogposts -->
<div class="vg-page page-blog" id="blogposts">
  <h1 class="text-center fg-dark"><a href="/blogposts" class="fg-theme">Blogposts & Reports</a></h1>
  <div class="container">
    <br/>
    {% for blog in site.data.blogposts %}
    <ul>
      <li>
        <span class="ram-subtitle">{% if blog.link %} <a href=" {{ blog.link }} " target="_blank" title="Go to talk"> {{ blog.topic }} <i class="fa fa-link w3-hover-opacity"></i></a>{% endif %}, {{ blog.date }} </span><br/>
        <span class="ram-subtitle">Medium: {{ blog.venue }}</span><br/>
        <br/>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>
<!-- End Blogposts -->