---
layout: only-title
---

<div class="w3-content w3-justify w3-text-grey" id="invited">
    <h2 class="w3-text-grey"><a href="/blogposts"><u>Blogposts</u></a></h2>
    <hr class="w3-opacity">
    {% for blog in site.data.blogposts %}
    <ul>
      <li>
        <span class="title">{{ blog.date }}</span>
        <span class="news-subtitle">Title: {{ blog.topic }} {% if blog.link %} <a href=" {{ blog.link }} " target="_blank" title="Go to blogpost"><i class="fa fa-file w3-hover-opacity"></i></a>{% endif %}</span>
        <br/>
        <span class="news-subtitle">Venue: {{ blog.venue }}</span>
      </li>
    </ul>
    {% endfor %}
  </div>