---
layout: default
---


</div>
  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey" id="about">
    <h2 class="w3-text-grey">About Me</h2>

    <hr class="w3-opacity">
    <p> I am currently a fourth year PhD candidate at the University of Michigan <a href = "https://www.cse.umich.edu/" target="_blank" title="Go to the UMich page">Computer Science and Engineering</a> department, where I am advised by <a href="https://ensa.fi/" target="_blank"title="Go to the UMich page">Prof. Roya Ensafi</a>. My primary research interests surround Internet Security and Privacy. In particular, I am interested in using Internet measurement methods to detect, analyze and prevent large-scale threats to Internet users' security and privacy. 
      <br/><br/>
    My current research involves measuring Internet censorship and network interference at global scale. My work also involves understanding and analyzing the technologies that enable censorship and surveillance. I lead work on the <a href="https://www.censoredplanet.org" target="_blank" title="Go to the CensoredPlanet Observatory">Censored Planet Observatory</a>, which is a platform for measuring various types of network interference continuously around the world.</p>

   
  <!-- End About Section -->
  </div>
  <br/>
  <!--Publications Section -->
  <div class="w3-content w3-justify w3-text-grey" id="publications">
    <h2 class="w3-text-grey"><a href="/publications"><u>Publications</u></a></h2>
    <hr class="w3-opacity">
    {% for publication in site.publications reversed%}
    {% if publication.blacklisted == "yes" %}
    {% else %}
    {% assign collaborators = publication.collaborators %}
    <p><span class="title"><a href="{{ publication.pdf }} " target="_blank" title="Go to paper">{{ publication.name }} {% if publication.pdf %}<i class="fa fa-file w3-hover-opacity"></i>{% endif %}</a> {% if publication.slides %}<a href=" {{ publication.slides }} " target="_blank" title="Go to slides"> <i class="fa fa-desktop w3-hover-opacity"></i></a>{% endif %}{% if publication.talk %} <a href=" {{ publication.talk }} " target="_blank" title="Go to talk"><i class="fa fa-video w3-hover-opacity"></i></a>{% endif %}</span> 
    {%  assign last_collab = collaborators[-1] %}
    {% for collaborator in collaborators %}
      {% if collaborator == last_collab %}
      <span class="collaborator">{{ collaborator }}</span>
      {% else %}
      <span class="collaborator">{{ collaborator }},</span>
      {% endif %}
    {% endfor %}<br/> 
    <span class="collaborator">{{ publication.publisher }}, {{ publication.date | date: "%B %Y" }}
      </span>
    <br/>
    {% if publication.tag %}
      <span class="collaborator"><em>{{ publication.tag }}</em>
      </span>
    {% endif %}
    {% endif %}
    {% endfor %}
          
  </p>
</div>

<br/>

<div class="w3-content w3-justify w3-text-grey" id="teaching">
  <h2 class="w3-text-grey"><a href="/teaching"><u>Teaching</u></a></h2>
  <hr class="w3-opacity">
  {% for teaching in site.data.teaching %}
  <ul>
    <li>
      <span class="title">{{ teaching.date }}</span>
      <span class="news-subtitle">Course: {{ teaching.class }}</span>
      <br/>
      <span class="news-subtitle">Position: {{ teaching.position }}</span>
      <br/>
      <span class="news-subtitle">{{ teaching.description }}</span>
    </li>
  </ul>
  {% endfor %}
</div>

<br/>

<div class="w3-content w3-justify w3-text-grey" id="news">
    <h2 class="w3-text-grey"><a href="/news"><u>News</u></a></h2>
    <hr class="w3-opacity">
    {% for news in site.data.news %}
    {% if news.home == 'true' %}
    <ul>
      <li>
        <span class="title">{{ news.date }}</span>
        <span class="news-subtitle">{{ news.description }}</span>
        {% if news.attachments %}
        <p>{{ news.attachments }}</p>
        {% endif %}
      </li>
    </ul>
    {% endif %}
    {% endfor %}
    <span class="title"><a href="/news">See more news &#8594;</a></span>
</div>

<br/>

<div class="w3-content w3-justify w3-text-grey" id="service">
  <h2 class="w3-text-grey"><a href="/service"><u>Service</u></a></h2>
  <hr class="w3-opacity">
  {% for service in site.data.service %}
  {% if service.display == 'true'  %}
  <ul>
    <li>{{ service.text }}
    </li>
  </ul>
  {% endif %}
  {% endfor %}
  <span class="title"><a href="/service">See more service &#8594;</a></span>
</div>

<!--Awards Section -->

<div class="w3-content w3-justify w3-text-grey" id="awards">
  <h2 class="w3-text-grey"><a href="/awards"><u>Awards</u></a></h2>
  <hr class="w3-opacity">
  {% for awards in site.data.awards %}
  {% if awards.display == 'true'  %}
  <ul>
    <li>
      <span class="title">{{ awards.date }}</span>
      <span class="news-subtitle">{{ awards.award }}</span>
    </li>
  </ul>
  {% endif %}
  {% endfor %}
  <span class="title"><a href="/awards">See more awards &#8594;</a></span>
</div>

<div class="w3-content w3-justify w3-text-grey" id="talks">
  <h2 class="w3-text-grey"><a href="/talks"><u>Talks</u></a></h2>
  <hr class="w3-opacity">
  {% for talk in site.data.talks %}
  <ul>
    <li>
      <span class="title">{{ talk.date }}</span>
      <span class="news-subtitle">Title: {{ talk.topic }} {% if talk.link %} <a href=" {{ talk.link }} " target="_blank" title="Go to talk"><i class="fa fa-video w3-hover-opacity"></i></a>{% endif %}</span>
      <br/>
      <span class="news-subtitle">Venue: {{ talk.venue }}</span>
    </li>
  </ul>
  {% endfor %}
</div>

<br/>


<div class="w3-content w3-justify w3-text-grey" id="invited">
  <h2 class="w3-text-grey"><a href="/blogposts"><u>Blogposts</u></a></h2>
  <hr class="w3-opacity">
  {% for blog in site.data.blogposts %}
  <ul>
    <li>
      <span class="title">{{ blog.date }}</span>
      <span class="news-subtitle">Title: {{ blog.topic }} {% if blog.link %} <a href=" {{ blog.link }} " target="_blank" title="Go to blogpost"><i class="fa fa-file w3-hover-opacity"></i></a>{% endif %}</span>
      <br/>
      <span class="news-subtitle">Venue: {{ blog.venue }}</span>
    </li>
  </ul>
  {% endfor %}
</div>

<br/>

<!--Projects Section-->
<div class="w3-content w3-justify w3-text-grey" id="projects">
    <h2><a href="/projects"><u>Projects</u></a></h2>
    <hr class="w3-opacity">

    <h3 class="title">Censored Planet Observatory</h3>
    <p><iframe src="https://www.youtube-nocookie.com/embed/ljZJrM9A2Pw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left:15%; width:70%; margin-right:15%" height=350></iframe></p>

    I am the primary developer and maintainer of the <a href="https://www.censoredplanet.org" target="_blank">Censored Planet Observatory</a>, which is a platform for measuring Internet censorship and network interference continously and globally. The observatory uses thousands of remote infrastructural vantage points from over 170 countries to continuously monitor disruption tactics used by authorities around the world. All data collected using the Observatory is made <a href="https://www.censoredplanet.org/data/raw" target="_blank">public</a> for use by researchers and policy-makers, and we have already released several <a href="https://www.censoredplanet.org" target="_blank">reports</a> based on data from the Observatory. I also maintain the Observatory website, which contains several visualizations of our data. 

    <h4>Map showing the Observatory's vantage point distribution:</h4> 
    <a href="https://www.censoredplanet.org/data/visualizations" target="_blank"><img src="images/cp_vp.png" alt="VP" style="width:90%"></img></a>

    <h4>Map showing percentage of disruption detected using Satellite in different countries:</h4>
    <a href="https://www.censoredplanet.org/data/visualizations" target="_blank"><img src="images/cp_satellite.png" alt="Satellite" style="width:90%"></img></a>

    <h3 class="title">Kazakhstan's HTTPS Interception</h3>
    I led Censored Planet's <a href="https://censoredplanet.org/kazakhstan" target="_blank:">investigation</a> into the interception of HTTPS connections of Internet users in Kazakhstan. The Kazakhstan government began using a fake root CA from July 20 2019 to perform a man-in-the-middle (MitM) attack against HTTPS connections to websites including Facebook, Twitter, and Google. This behavior significantly weakened Internet for Kazakh Internet users, who were instructed to manually trust the fake CA certificate. Our investigation suggested that only a portion of the Internet users in Kazakhstan were affected in what appeared to be a pilot test of the system. Our <a href="https://censoredplanet.org/kazakhstan/live" target="_blank:">live measurements</a> reveal that the attack was stopped on August 6 2019, and an official statement from the Kazakhstan Government suggests they will turn on the system "when necessary". 
	<h4>Live tracking of Censored Planet observatory vantage points observing the intercepion:</h4> 
    <a href="https://censoredplanet.org/kazakhstan/live" target="_blank"><img src="images/kazakh.jpg" alt="Kazakhstan" style="width:90%"></img></a>


    <span class="title"><a href="/projects">See more projects &#8594;</a></span>
</div>
<br/>
  <!-- Contact Section -->
  <div class=" w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
    <h2>Contact Me</h2>
    <hr class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Ann Arbor, MI</p>
      <!--<p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +1-(734)-353-6994</p>-->
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: ramaks@umich.edu</p>
    </div>
    
     <!-- Google Map -->
    <div id="googleMap" class="w3-greyscale-max" style="width:100%;height:300px;margin:36px 0;"></div>
  <!-- End Contact Section -->
  </div>  
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity " style="margin:-24px">
    <p>   &copy; Ramakrishnan Sundara Raman</p>
  <!-- End footer -->
  </footer>
  
<!-- END PAGE CONTENT -->
</div>

<!-- Add Google Maps -->
<script>
function myMap()
{
  myCenter=new google.maps.LatLng(42.2930, -83.7164);
  var mapOptions= {
    center:myCenter,
    zoom:15, scrollwheel: false, draggable: true,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=
AIzaSyCmAzRgMPnVHMGVkB38DJmx_3cmnpNQrBs
&callback=myMap"></script>
<script>
  $(".btn-bib").click(function() {
      $(this).closest(".row").find(".bibtex").fadeToggle("300", "swing");
  });
</script>