---
layout: home
---
<script>
  window.onload = setMenu('home-menu');
</script>
  <div class="vg-main-wrapper" id="desktop">
    <div class="vg-page page-home" id="home" style="background-image: url(images/bg2.jpg);">

    <!-- Page About -->
    <div class="vg-page page-about" id="about">
      <!-- Profile -->
      <div class="container py-3">
        <div class="row">
          <div class="col-md-6">
            <div class="caption">
              <h1 class="fg-dark fw=medium" style="text-align: center;">Ramakrishnan (Ram) <br/> Sundara Raman</h1>
              <p class="fg-theme fw-medium">PhD candidate</p>
              <p class="fg-theme fw-medium">Computer Science and Engineering</p>
              <p class="fg-theme fw-medium"><a href="https://www.umich.edu" target="_blank" title="Go to the UMich page">University of Michigan</a></p>
              <a href="mailto:ramaks@umich.edu" target="_blank" style="margin-left: 1%;" title="Send me mail"><span style="font-size: 17px; margin-left: 0.1%; margin-top: 1%;">ramaks[@]umich[.]edu</span></a>

            </div>
            <div class="img-place" >
              <img src="images/avatar.jpg" alt="Ram is here!">
            </div>
           <div style="margin: auto; width:55%">
          
              <a href="https://twitter.com/ramakrishnan13s" target="_blank" style="margin-left: 2%;" title="Go to my Twitter profile"><i class="fg-theme fa fa-twitter w3-hover-opacity" style="font-size: 58px"></i></a>
              <a href="https://www.linkedin.com/in/ramakrishnansundararaman/" target="_blank" style="margin-left: 2%;" title="Go to my LinkedIn profile"><i class="fg-theme fa fa-linkedin w3-hover-opacity" style="font-size: 58px"></i></a>
              <a href="https://github.com/ramakrishnansr" target="_blank" style="margin-left: 2%;" title="Go to my Github Page"><i class="fg-theme fa fa-github w3-hover-opacity" style="font-size: 58px"></i></a>
              <a href="https://scholar.google.com/citations?user=1gyokIMAAAAJ&hl=en" target="_blank" style="margin-left: 2%" title="Go to my Google Scholar profile"><i class="fg-theme fa fa-graduation-cap w3-hover-opacity" style="font-size: 58px;  margin-top: 1%"></i></a>
              <br/>
            </div>

          </div>
          <div class="col-md-6"> 
              <p style="font-size: 20px;"> I am a fifth year PhD candidate at the University of Michigan <a class = "fg-theme" href = "https://www.cse.umich.edu/" target="_blank" title="Go to the UMich page">Computer Science and Engineering</a> department, where I am advised by <a class = "fg-theme" href="https://ensa.fi/" target="_blank"title="Go to the UMich page">Prof. Roya Ensafi</a>. I am interested in using Internet measurement methods to detect, analyze and prevent large-scale threats to Internet users' security and privacy.
                <br/> <br/>
              My research involves measuring Internet censorship and other forms of network interference at global scale. I lead work on the <a  class = "fg-theme" href="https://www.censoredplanet.org" target="_blank" title="Go to the CensoredPlanet Observatory">Censored Planet Observatory</a>, which is a platform for measuring various types of network interference continuously around the world. My work also involves understanding and analyzing the technologies that enable censorship and surveillance.
              <br/><br/>
              Previously, I was a research intern at <a  class = "fg-theme" href="https://research.cloudflare.com/" target="_blank">Cloudflare Research</a> in Summer 2022. I was also an <a class = "fg-theme" href="https://www.opentech.fund/about/people/ramakrishnan-sundara-raman/" target="_blank">OTF Senior ICFP Fellow in Information Controls</a> at <a class = "fg-theme" href="https://citizenlab.ca">The Citizen Lab</a>, University of Toronto, working on identifying the network devices that perform network interference.</p>
              <a class="btn btn-theme btn-rounded" target="_blank" href="assets/CV_Ramakrishnan_Sundara_Raman.pdf"><p style="color: white; text-align:center; margin: 0;">Download CV</p></a>
            </div>
          </div>
        </div>
        
      </div> <!-- End profile -->
    </div>
  </div> <!-- End resume -->
 
</div> <!-- End page about -->

<!-- Publications -->
<div class="vg-page page-service" id="publications">
  <h1 class="text-center "><a href="/publications" class="fg-theme">Publications</a></h1>
  <div class="container">
    {% for publication in site.publications reversed%}
    {% if publication.blacklisted == "yes" %}
    {% else %}
    {% assign collaborators = publication.collaborators %}
    
    <p><span class="ram-subtitle"><a href="{{ publication.pdf }} " target="_blank" title="Go to paper" class="fg-theme">{{ publication.name }} {% if publication.pdf %}<i class="fa fa-file-pdf w3-hover-opacity fg-theme"></i>{% endif %}</a> {% if publication.slides %}<a href=" {{ publication.slides }} " target="_blank" title="Go to slides"> <i class="fa fa-desktop w3-hover-opacity fg-theme"></i></a>{% endif %}{% if publication.talk %} <a href=" {{ publication.talk }} " target="_blank" title="Go to talk"><i class="fa fa-video w3-hover-opacity fg-theme"></i></a>{% endif %}

    {% if publication.bibtex-title %}
      <a class="fg-theme" onclick="toggleBib('{{ publication.bibtex-title }}')"> <i class="fa fa-quote-right w3-hover-opacity fg-theme"></i></a>
    {% endif %}
    </span> 
    <br/>
    {%  assign last_collab = collaborators[-1] %}
    {% for collaborator in collaborators %}
      {% if collaborator == last_collab %}
      <span class="collaborator">{{ collaborator }}</span>
      {% else %}
      <span class="collaborator">{{ collaborator }},</span>
      {% endif %}
    {% endfor %}<br/> 
    <span class="collaborator">{{ publication.publisher }}, {{ publication.date | date: "%B %Y" }}
      </span>
    {% if publication.tag %}
      <br/>
      <span class="collaborator">{{ publication.tag }}
      </span>
    {% endif %}
    <p class="bibtex" style="display:none" id={{ publication.bibtex-title }}>{{ publication.bibtex }}</p>

    {% endif %}
    {% endfor %}
    </p>
    </div>
</div>
<!-- End Publications -->


<!-- Awards -->
<div class="vg-page page-blog" id="awards">
  <h1 class="text-center "><a href="/awards" class="fg-theme">Awards</a></h1>
  <br/>
  <div class="container">
    {% for awards in site.data.awards %}
    {% if awards.display == 'true'  %}
    <ul>
      <li>
        <span class="ram-subtitle ">{{ awards.award }}, {{ awards.date }}</span><br/>
      </li>
    </ul>
    {% endif %}
    {% endfor %}
    <span class="ram-title " style="float:right; margin-left: auto; margin-right: 0;"><a href="/awards">See more awards &#8594;</a></span>
    </p>
  </div>
</div>
<!--End Awards-->

<!-- News -->
<div class="vg-page p-0" id="news">
  <div class="owl-carousel testi-carousel" style="background-image: url(images/bg.jpg);">
      {% for news in site.data.news %}
        {% if news.home == 'true' %}
        <div class="item">
            <span class="ram-title" style="text-decoration: underline;">{{ news.date }}<br/></span>
            <span class="ram-subtitle">{{ news.description }}</span><br/>
            {% if news.attachments %}
            <p>{{ news.attachments }}</p>
            {% endif %}
        <span class="ram-title"><a href="/news">See more news &#8594;</a></span>

        {% endif %}
      </div>
      {% endfor %}

  </div>
</div> <!-- End News -->

<!-- Teaching -->
<div class="vg-page page-service" id="teaching">
  <h1 class="text-center fg-dark "><a href="/teaching" class="fg-theme">Teaching</a></h1>
  <div class="container ">
    {% for teaching in site.data.teaching %}
    <ul>
      <li>
        <span class="ram-title ">{{ teaching.date }}</span>
        <br/>
        <span class="ram-subtitle ">Course: {{ teaching.class }}</span>
        <br/>
        <span class="ram-subtitle ">Position: {{ teaching.position }}</span>
        <br/>
        <span class="ram-subtitle ">{{ teaching.description }}</span>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>
<!-- End Teaching -->




<!-- Awards Alternate
<div class="vg-page page-blog" id="awards">
  <h1 class="text-center "><a href="/awards" class="fg-theme">Awards</a></h1>
  <div class="container">
    <div class="row post-grid">
    {% for awards in site.data.awards %}
    {% if awards.display == 'true'  %} 
    <div class="col-md-6 col-lg-4 ">
      <div class="card">
        <div class="caption">
            <p class="post-category">{{ awards.date }}</p>
            <p class="post-title">{{ awards.award }}</p>     
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}     
      <span class="ram-title" style="float:right; margin-left: auto; margin-right: 0;"><a href="/awards">See more awards &#8594;</a></span>

    </div>
  </div>
</div> -->

<!-- Service -->
<div class="vg-page page-blog" id="service">
  <h1 class="text-center fg-dark "><a href="/service" class="fg-theme">Service</a></h1>
  <div class="container ">
    <br/>
    {% for service in site.data.service %}
    {% if service.display == 'true'  %}
    <ul>
      <li> <span class="ram-subtitle ">{{ service.text }}</span>
      </li>
    </ul>
    {% endif %}
    {% endfor %}
    <span class="ram-title " style="float:right; margin-left: auto; margin-right: 0;"><a href="/service">See more service &#8594;</a></span>

  </div>
</div>
<!-- End Service -->


<!-- Talks -->
<div class="vg-page page-service" id="talks">
  <h1 class="text-center "><a href="/talks" class="fg-theme">Talks</a></h1>
  <br/>
  <div class="container">
  {% for talk in site.data.talks %}
  {% if talk.display == 'true'  %}

    <ul>
      <li>
        <span class="ram-subtitle ">{{ talk.topic }}{% if talk.link %} <a href=" {{ talk.link }} " target="_blank" title="Go to talk"><i class="fa fa-video w3-hover-opacity"></i></a>{% endif %}, {{ talk.date }} </span><br/>
        <span class="ram-subtitle ">Venue: {{ talk.venue }}</span><br/>
        <br/>
        {% if talk.award %} <span class="ram-subtitle ">Award: {{ talk.award }}</span>{% endif %}
      </li>
    </ul>
    {% endif %}
    {% endfor %}
    <span class="ram-title " style="float:right; margin-left: auto; margin-right: 0;"><a href="/talks">See more talks &#8594;</a></span>
    </p>
  </div>
</div>
<!--End Talks-->


<!-- Blogposts -->
<div class="vg-page page-blog" id="blogposts">
  <h1 class="text-center fg-dark "><a href="/blogposts" class="fg-theme">Blogposts & Reports</a></h1>
  <div class="container ">
    <br/>
    {% for blog in site.data.blogposts %}
    <ul>
      <li>
        <span class="ram-subtitle ">{% if blog.link %} <a href=" {{ blog.link }} " target="_blank" title="Go to talk"> {{ blog.topic }} <i class="fa fa-link w3-hover-opacity"></i></a>{% endif %}, {{ blog.date }} </span><br/>
        <span class="ram-subtitle ">Medium: {{ blog.venue }}</span><br/>
        <br/>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>
<!-- End Blogposts -->

<!-- Projects -->
<div class="vg-page page-service" id="projects">
  <h1 class="text-center fg-dark "><a href="/projects">Selected Projects</a></h1>
  <div class="container">
    <div class="row post-grid">
      <div class="col-md-6 col-lg-4 ">
        <div class="card wow fadeInUp">
          <div class="img-place">
            <iframe src="https://www.youtube-nocookie.com/embed/ljZJrM9A2Pw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%;" height=250></iframe>
          </div>
          <div class="caption">
            <a href="https://www.censoredplanet.org" class="post-title">Censored Planet</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ">
        <div class="card wow fadeInUp">
          <div class="img-place">
            <iframe src="https://www.youtube-nocookie.com/embed/j1sLWAm0nMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%;" height=250></iframe>
          </div>
          <div class="caption">
            <a href="https://dashboard.censoredplanet.org" class="post-title">Censored Planet Dashboard</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ">
        <div class="card wow fadeInUp">
          <div class="img-place">
            <iframe src="https://www.youtube-nocookie.com/embed/RoYWsfNOCr4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%;" height=250></iframe>
          </div>
          <div class="caption">
            <a href="https://www.censoredplanet.org/kazakhstan" class="post-title">HTTPS Interception</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div> <!-- End projects -->


</div> <!-- End main wrapper -->