---
layout: home
---
<script>
  window.onload = setMenu('home-menu');
</script>
  <div class="vg-main-wrapper" id="desktop">
    <div class="vg-page page-home" id="home" style="background-image: url(images/bg3.jpg);">

    <!-- Page About -->
    <div class="vg-page page-about" id="about">
      <!-- Profile -->
      <div class="container py-3">
        <div class="row">
          <div class="col-md-6">
            <div class="caption">
              <h1 class="fg-dark fw=medium" style="text-align: center;">Ramakrishnan (Ram) <br/> Sundara Raman</h1>
              <p class="fg-theme-3 fw-medium">Assistant Professor</p>
              <p class="fg-theme-3 fw-medium"><a href="" target="_blank" title="Go to UCSC-CSE - Try saying that over and over!">Computer Science and Engineering</a></p>
              <!--<p class="fg-theme-3 fw-medium">Baskin Engineering</p>-->
              <p class="fg-theme-3 fw-medium"><a href="https://www.ucsc.edu/" target="_blank" title="Go to UCSC page">University of California Santa Cruz</a></p>
              <a class="fg-theme-3 fw-medium" href="mailto:ram@ucsc.edu" target="_blank" style="margin-left: 1%;" title="Send me mail"><span style="font-size: 17px; margin-left: 0.1%; margin-top: 1%;">ram[@]ucsc[.]edu</span></a>

            </div>
            <div class="img-place" >
              <img src="images/avatar.jpg" alt="Ram is here!">
            </div>
           <div style="margin: auto; width:50%">
          
              <a href="https://twitter.com/ramakrishnan13s" target="_blank" style="margin-left: 2%;" title="Go to my Twitter profile"><i class="fg-theme-3 fa fa-twitter w3-hover-opacity" style="font-size: 58px"></i></a>
              <a href="https://www.linkedin.com/in/ramakrishnansundararaman/" target="_blank" style="margin-left: 2%;" title="Go to my LinkedIn profile"><i class="fg-theme-3 fa fa-linkedin w3-hover-opacity" style="font-size: 58px"></i></a>
              <a href="https://github.com/ramakrishnansr" target="_blank" style="margin-left: 2%;" title="Go to my Github Page"><i class="fg-theme-3 fa fa-github w3-hover-opacity" style="font-size: 58px"></i></a>
              <a href="https://scholar.google.com/citations?user=1gyokIMAAAAJ&hl=en" target="_blank" style="margin-left: 2%" title="Go to my Google Scholar profile"><i class="fg-theme-3 fa fa-graduation-cap w3-hover-opacity" style="font-size: 58px;  margin-top: 1%"></i></a>

              <div style="margin: auto; width:75%">
              <a class="btn btn-theme btn-rounded" target="_blank" href="assets/CV_Ramakrishnan_Sundara_Raman.pdf"><p style="color: white; text-align:center; margin: 0;">CV</p></a>
              <a class="btn btn-theme btn-rounded" target="_blank" href="assets/Ram-Bio.pdf"><p style="color: white; text-align:center; margin: 0;">Bio</p></a>
              </div>
            </div>
            <br/>


          </div>
          <div class="col-md-6"> 
            <p class="fg-theme-2" style="font-size: 21px;  text-align: justify; text-justify: inter-word;" > I am an Assistant Professor in the CSE department at UC Santa Cruz. My research uses empirical methods to detect, analyze and prevent large-scale threats to the security and privacy of Internet users. </p>
            
            <p class="fg-theme-2" style="font-size: 21px; text-align: justify; text-justify: inter-word;"> 
            I lead the <a href="https://randlab.engineering.ucsc.edu">RANDLab Research Group</a> at UC Santa Cruz, where we work on a wide range of systems, networking, security, and privacy problems. My group builds empirical methods, systems, and data-driven analysis methods to study connection tampering attacks such as Internet censorship globally, offering insights into key network security events and the role of advanced network technology. We also build, analyze, and optimize network defense mechanisms, such as censorship circumvention and anonymity tools. My group also addresses key privacy issues that users and organizations alike face in today's online ecosystems.
            My research work has helped produce the <a href="https://www.censoredplanet.org" target="_blank" title="Go to the CensoredPlanet Observatory">Censored Planet Observatory</a>, a global measurement platform for the continuous monitoring of various types of network interference.</p>
            <!--My work also involves understanding and analyzing the network technologies that enable censorship. I am the recipient of a FOCI Rising Star Recognition, an OTF Information Controls Fellowship, and an IRTF Applied Networking Research Prize.--></p>
           
            </div>
           
            <!--<h4>📢 I am hiring PhD students for Fall 2025. Please email me if you're interested in joining my group at UCSC. For more details about working with me, go <a href="/prospective_students">here</a>.</h>-->
          </div>  
        </div>
        
      </div> <!-- End profile -->
    </div>
  </div> <!-- End resume -->
 
</div> <!-- End page about -->


<!-- Group -->
<div class="vg-page page-blog" id="group">
  <h1 class="text-center "><a href="/randlab" class="fg-theme-3">My Research Group</a></h1>
  <br/>
  <div class="container">
  <p class="fg-theme-2" style="font-size: 18px;">
I lead the <a href="https://randlab.engineering.ucsc.edu">Research on Attacks on Networks and Data Lab (RANDLab)</a> at UCSC. Current graduate student members of our group include: 
{% for student in site.data.students %}
  {% if student.key != "student1" %}
    <span class="fg-theme-2 ram-subtitle" style="font-size: 18px;">{{ student.name }} ({{ student.title }}), </span>
  {% else %}
    <span class="fg-theme-2 ram-subtitle" style="font-size: 18px;">{{ student.name }} ({{ student.title }})</span>
  {% endif %}
{% endfor %}
</p>

<p class="fg-theme-2" style="font-size: 18px;">
Meet our full team including our undergraduate members <a href="https://randlab.engineering.ucsc.edu/team">here</a>. We are always interested in working with new students and collaborators. Go <a href="/prospective_students">here</a> for more information.
</p>
</div>
<!--End Group-->

<!-- Publications -->
<div class="vg-page page-service" id="publications">
  <h1 class="text-center "><a href="/publications" class="fg-theme">Publications</a></h1>
  <div class="container">
    {% for publication in site.publications reversed%}
    {% if publication.blacklisted == "yes" %}
    {% else %}
    {% assign collaborators = publication.collaborators %}
    
    <p><span class="ram-subtitle"><a href="{{ publication.pdf }} " target="_blank" title="Go to paper" class="fg-theme">{{ publication.name }} {% if publication.pdf %}<i class="fa fa-file-pdf w3-hover-opacity fg-theme"></i>{% endif %}</a> {% if publication.slides %}<a href=" {{ publication.slides }} " target="_blank" title="Go to slides"> <i class="fa fa-desktop w3-hover-opacity fg-theme"></i></a>{% endif %}{% if publication.talk %} <a href=" {{ publication.talk }} " target="_blank" title="Go to talk"><i class="fa fa-video w3-hover-opacity fg-theme"></i></a>{% endif %}

    {% if publication.bibtex-title %}
      <a class="fg-theme" onclick="toggleBib('{{ publication.bibtex-title }}')"> <i class="fa fa-quote-right w3-hover-opacity fg-theme"></i></a>
    {% endif %}
    </span> 
    <br/>
    {%  assign last_collab = collaborators[-1] %}
    {% for collaborator in collaborators %}
      {% if collaborator == last_collab %}
      <span class="collaborator">{{ collaborator }}</span>
      {% else %}
      <span class="collaborator">{{ collaborator }},</span>
      {% endif %}
    {% endfor %}<br/> 
    <span class="collaborator">{{ publication.publisher }}, {{ publication.date | date: "%B %Y" }}
      </span>
    {% if publication.tag %}
      <br/>
      <span class="collaborator">{{ publication.tag }}
      </span>
    {% endif %}
    <p class="bibtex" style="display:none" id={{ publication.bibtex-title }}>{{ publication.bibtex }}</p>

    {% endif %}
    {% endfor %}
    </p>
    </div>
</div>
<!-- End Publications -->

<!-- Awards -->
<div class="vg-page page-blog" id="awards">
  <h1 class="text-center "><a href="/awards" class="fg-theme-3">Awards</a></h1>
  <br/>
  <div class="container">
    {% for awards in site.data.awards %}
    {% if awards.display == 'true'  %}
    <ul>
      <li>
        <span class="fg-theme-2 ram-subtitle">{{ awards.award }}, {{ awards.date }}</span><br/>
      </li>
    </ul>
    {% endif %}
    {% endfor %}

    <span class="ram-title fg-theme-2" style="float:left; margin-left: 0; margin-right: auto;"><a href="/awards">See more personal awards &#8594;</a></span>
    <span class="ram-title fg-theme-2" style="float:right; margin-left: auto; margin-right: 0;"><a href="https://randlab.engineering.ucsc.edu">See our group's awards &#8594;</a></span>

    </p>
  </div>
</div>
<!--End Awards-->

<!-- News -->
<div class="vg-page p-0" id="news">
  <div class="owl-carousel testi-carousel" style="background-image: url(images/bg4.jpg);">
      {% for news in site.data.news %}
        {% if news.home == 'true' %}
        <div class="item">
            <span class="ram-title" style="text-decoration: underline;">{{ news.date }}<br/></span>
            <span class="ram-subtitle-2">{{ news.description }}</span><br/>
        <span class="ram-subtitle-2"><a href="/news">See more news &#8594;</a></span>
        {% endif %}
      </div>
      {% endfor %}

  </div>
</div> <!-- End News -->

<!-- Teaching -->
<div class="vg-page page-service" id="teaching">
  <h1 class="text-center fg-dark "><a href="/teaching" class="fg-theme">Teaching</a></h1>
  <div class="container ">
    {% for teaching in site.data.teaching %}
    <ul>
      <li>
        <span class="ram-title">{{ teaching.date }}</span>
        <br/>
        <span class="ram-subtitle-2">Course: {{ teaching.class }}</span>
        <br/>
        <span class="ram-subtitle-2">Position: {{ teaching.position }}</span>
        <br/>
        <span class="ram-subtitle-2">{{ teaching.description }}</span>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>
<!-- End Teaching -->




<!-- Awards Alternate
<div class="vg-page page-blog" id="awards">
  <h1 class="text-center "><a href="/awards" class="fg-theme">Awards</a></h1>
  <div class="container">
    <div class="row post-grid">
    {% for awards in site.data.awards %}
    {% if awards.display == 'true'  %} 
    <div class="col-md-6 col-lg-4 ">
      <div class="card">
        <div class="caption">
            <p class="post-category">{{ awards.date }}</p>
            <p class="post-title">{{ awards.award }}</p>     
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}     
      <span class="ram-title" style="float:right; margin-left: auto; margin-right: 0;"><a href="/awards">See more awards &#8594;</a></span>

    </div>
  </div>
</div> -->

<!-- Service -->
<div class="vg-page page-blog" id="service">
  <h1 class="text-center fg-dark "><a href="/service" class="fg-theme-3">Service</a></h1>
  <div class="container ">
    <br/>
    {% for service in site.data.service %}
    {% if service.display == 'true'  %}
    <ul>
      <li> <span class="ram-subtitle fg-theme-2">{{ service.text }}</span>
      </li>
    </ul>
    {% endif %}
    {% endfor %}
    <span class="ram-title fg-theme-2" style="float:right; margin-left: auto; margin-right: 0;"><a href="/service">See more service &#8594;</a></span>

  </div>
</div>
<!-- End Service -->


<!-- Talks -->
<div class="vg-page page-service" id="talks">
  <h1 class="text-center "><a href="/talks" class="fg-theme">Talks</a></h1>
  <br/>
  <div class="container">
  {% for talk in site.data.talks %}
  {% if talk.display == 'true'  %}

    <ul>
      <li>
        <span class="ram-subtitle-2">{{ talk.topic }}{% if talk.link %} <a href=" {{ talk.link }} " target="_blank" title="Go to talk"><i class="fa fa-video w3-hover-opacity"></i></a>{% endif %}, {{ talk.date }} </span><br/>
        <span class="ram-subtitle-2">Venue: {{ talk.venue }}</span><br/>
        <br/>
        {% if talk.award %} <span class="ram-subtitle ">Award: {{ talk.award }}</span>{% endif %}
      </li>
    </ul>
    {% endif %}
    {% endfor %}
    <span class="ram-subtitle-2" style="float:right; margin-left: auto; margin-right: 0;"><a href="/talks">See more talks &#8594;</a></span>
    </p>
  </div>
</div>
<!--End Talks-->


<!-- Blogposts -->
<div class="vg-page page-blog" id="blogposts">
  <h1 class="text-center fg-dark "><a href="/blogposts" class="fg-theme-3">Blogposts & Reports</a></h1>
  <div class="container ">
    <br/>
    {% for blog in site.data.blogposts %}
    <ul>
      <li>
        <span class="ram-subtitle fg-theme-2">{% if blog.link %} <a href=" {{ blog.link }} " target="_blank" title="Go to talk"> {{ blog.topic }} <i class="fa fa-link w3-hover-opacity"></i></a>{% endif %}, {{ blog.date }} </span><br/>
        <span class="ram-subtitle fg-theme-2">Medium: {{ blog.venue }}</span><br/>
        <br/>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>
<!-- End Blogposts -->

<!-- Projects -->
<div class="vg-page page-service" id="projects">
  <h1 class="text-center"><a href="/projects" class="fg-theme">Selected Projects</a></h1>
  <div class="container">
    <div class="row post-grid">
      <div class="col-md-6 col-lg-4 ">
        <div class="card wow fadeInUp">
          <div class="img-place">
            <iframe src="https://www.youtube-nocookie.com/embed/ljZJrM9A2Pw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%;" height=250></iframe>
          </div>
          <div class="caption">
            <a href="https://www.censoredplanet.org" class="post-title">Censored Planet</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ">
        <div class="card wow fadeInUp">
          <div class="img-place">
            <iframe src="https://www.youtube-nocookie.com/embed/j1sLWAm0nMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%;" height=250></iframe>
          </div>
          <div class="caption">
            <a href="https://dashboard.censoredplanet.org" class="post-title">Censored Planet Dashboard</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ">
        <div class="card wow fadeInUp">
          <div class="img-place">
            <iframe src="https://www.youtube-nocookie.com/embed/RoYWsfNOCr4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%;" height=250></iframe>
          </div>
          <div class="caption">
            <a href="https://www.censoredplanet.org/kazakhstan" class="post-title">HTTPS Interception</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div> <!-- End projects -->


</div> <!-- End main wrapper -->