---
layout: home
---

<script>
  window.onload = setMenu('news-menu');
</script>

<!--News Section -->
<div class="vg-page page-blog" id="news">
  <h1 class="text-center fg-dark"><a href="/news" class="fg-theme">News</a></h1>
  <div class="container">
    <hr class="w3-opacity">
    {% for news in site.data.news %}
    <ul>
      <li>
        <span class="ram-title">{{ news.date }}</span><br/>
        <span class="ram-subtitle">{{ news.description }}</span><br/>
        {% if news.attachments %}
        <p>{{ news.attachments }}</p>
        {% endif %}
      </li>
    </ul>
    {% endfor %}
</div>